{{{template "header" .}}}
<div>
    <h1>Login</h1>
    <form action="{{{.auth.URL}}}" method="post">
        {{{range .auth.LoginFields}}}
        <p>
            <label for="{{{.Name}}}">{{{.DisplayName}}}</label>
            <input type="{{{.Type}}}" name="{{{.Name}}}" value="">
        </p>
        {{{end}}}

        <button type="submit">Submit</button>
    </form>
    {{{if .auth.OpenRegister}}}
    <p><a href="/register">Register</a></p>
    {{{end}}}
</div>

<script>
    localStorage.removeItem("access_token");
</script>
{{{template "footer" .}}}