{{{template "header" .}}}
        <h1>
            {{{ .resource.Name }}} list
        </h1>

        <div id="resourceDiv" class="demo">
            <button id="create-user">Create</button>

            <table id="table"></table>

            <div id="dialog-form" title="Create new {{{ .resource.Name }}}" style="min-width: 500px">
                <fieldset>
                    {{{range .resource.Fields}}}
                    <p>
                    {{{if not .CloseEdit }}}
                    <label for="{{{toJS .JsonName}}}" style="min-width: 150px">{{{.Name}}}</label>

                    {{{if eq .Type "bool" }}}
                    <select name="{{{toJS .JsonName}}}" id="{{{.Name}}}" datatype="{{{.Type}}}" {{{ if .DenyNull }}} required {{{end}}}>
                        <option value="0">false</option>
                        <option value="1">true</option>
                    </select><br/>
                    {{{else if eq .Type "enum" }}}
                        <select name="{{{toJS .JsonName}}}" id="{{{.Name}}}" datatype="{{{.Type}}}">
                            {{{range .EnumValues}}}
                            <option value="{{{index . 0}}}">{{{index . 1}}}</option>
                            {{{end}}}
                        </select><br/>
                    {{{else }}}
                    <input type="text" name="{{{toJS .JsonName}}}" id="{{{.Name}}}" value="" class="text ui-widget-content ui-corner-all" datatype="{{{.Type}}}" {{{ if .DenyNull }}} required {{{end}}}>
                    {{{end}}}

                    {{{ if .DenyNull }}} * {{{end}}}

                    {{{end}}}
                    </p>

                    {{{end}}}

                    <button onclick="createRes()">Create</button>
                </fieldset>
            </div>

            <div id="dialog-edit-form" title="Edit {{{ .resource.Name }}}" style="min-width: 500px">
                <fieldset>
                    {{{range .resource.Fields}}}
                    <p>
                    {{{if not .CloseEdit }}}
                    <label for="{{{toJS .JsonName}}}" style="min-width: 150px">{{{.Name}}}</label>

                    {{{if eq .Type "bool" }}}
                    <select name="{{{toJS .JsonName}}}" id="edit-{{{.Name}}}" datatype="{{{.Type}}}">
                        <option value="0" selected>false</option>
                        <option value="1">true</option>
                    </select><br/>
                    {{{else if eq .Type "enum" }}}
                        <select name="{{{toJS .JsonName}}}" id="edit-{{{.Name}}}" datatype="{{{.Type}}}">
                            {{{range .EnumValues}}}
                            <option value="{{{index . 0}}}">{{{index . 1}}}</option>
                            {{{end}}}
                        </select><br/>
                    {{{else }}}
                    <input type="text" name="{{{toJS .JsonName}}}" id="edit-{{{.Name}}}" value="" class="text ui-widget-content ui-corner-all" datatype="{{{.Type}}}">
                    {{{end}}}

                    {{{else}}}
                    <input type="text" name="{{{toJS .JsonName}}}" id="edit-{{{.Name}}}" value="" class="text ui-widget-content ui-corner-all" disabled>
                    {{{end}}}

                    {{{ if .DenyNull }}} * {{{end}}}
                    </p>
                    {{{end}}}

                    <button onclick="editRes()">Edit</button>
                </fieldset>
            </div>
        </div>

        <script>
            $( function() {
                var dialog;

                dialog = $( "#dialog-form" ).dialog({
                    autoOpen: false,
                    modal: true,
                    width:'auto'
                });

                $( "#create-user" ).button().on( "click", function() {
                    dialog.dialog( "open" );
                });

                dialog1 = $( "#dialog-edit-form" ).dialog({
                    autoOpen: false,
                    modal: true,
                    width:'auto'
                });
            } );

            function convertFormToJSON(form) {
                const array = $(form).serializeArray(); // Encodes the set of form elements as an array of names and values.
                const json = {};
                const f = $(form)[0];
                $.each(array, function () {
                    const n = f.querySelector('[name="' + this.name + '"]');
                    switch (n.getAttribute('datatype')) {
                        case "uint":
                        case "int":
                        case "int32":
                        case "int64":
                            json[this.name] = parseInt(this.value);
                            break;
                        case "bool":
                            switch (this.value) {
                                case "1":
                                case "true":
                                    json[this.name] = true;
                                    break;
                                default:
                                    json[this.name] = false;
                                    break;
                            }
                            break;
                        case "enum":
                            json[this.name] = parseInt(this.value);
                            break;
                        default:
                            json[this.name] = this.value || "";
                            break;
                    }
                    // if(n.getAttribute('datatype') == "uint" || n.getAttribute('datatype') == "int" || n.getAttribute('datatype') == "int64") {
                    //     json[this.name] = parseInt(this.value);
                    // } else {
                    //     json[this.name] = this.value || "";
                    // }
                });
                return JSON.stringify(json);
            }

            function refreshData() {
                $('#table').bootstrapTable('refresh');
            }

            // 验证必填的字段是否有值
            function fieldsValid(form) {
                var valid = true;
                $(form).find('input, select').each(function(index){
                    var input = $(this);
                    if(input.attr('required') && input.val() === ""){
                        valid = false;
                        $.notify(input.attr('id')+" can not be empty", "error");
                        input.focus();
                        return false;
                    }
                });
                return valid;
            }

            function createRes(){
                const formSelector = "#dialog-form fieldset";
                if(!fieldsValid(formSelector)) {
                    return;
                }
                ajaxRequest({
                    url: '{{{ .apiPrefix }}}/{{{ .resource.Name }}}',
                    type: 'POST',
                    contentType: "application/json",
                    data: this.convertFormToJSON(formSelector),
                    success: function(result) {
                        if(result.code==500) {
                            $.notify(result.message, "error");
                            return;
                        }
                        refreshData();
                        $( "#dialog-form" ).dialog("close");
                    }
                });
            }

            function editRes(){
                ajaxRequest({
                    url: '{{{ .apiPrefix }}}/{{{ .resource.Name }}}/'+$("#edit-ID").val(),
                    type: 'POST',
                    contentType: "application/json",
                    data: this.convertFormToJSON("#dialog-edit-form fieldset"),
                    success: function(result) {
                        if(result.code==500) {
                            $.notify(result.message, "error");
                            return;
                        }
                        refreshData();
                        $( "#dialog-edit-form" ).dialog( "close" );
                    }
                });
            }
            function initTable() {
                $('#table').bootstrapTable({
                    url: '{{{ .apiPrefix }}}/{{{ .resource.Name }}}',
                    pagination: true,
                    search: true,
                    showColumns: true,
                    showRefresh: true,
                    sidePagination: "server",
                    dataField: 'data',
                    totalField: 'total',
                    responseHandler: function(res) {
                        if (res.code == 500) {
                            $.notify(res.message, 'error');
                            return {}
                        }
                        return {
                            data: res["data"]["list"],
                            total: res["data"]["count"]
                        }
                    },
                    {{{ if .resource.AuthMiddle }}}
                    ajaxOptions: { headers: { '{{{ .resource.AuthMiddle.HeaderKey }}}': '{{{.resource.AuthMiddle.HeaderValuePrefix}}}' + localStorage.getItem("access_token") }},
                    {{{ end }}}
                    onLoadError: function(status, err) {
                        $.notify(status, 'error');
                        {{{ if .resource.AuthMiddle }}}
                        if (status == 403) {
                            window.location.href = {{{ .resource.AuthMiddle.URL }}}
                            // localStorage.setItem("access_token", "123");
                        }
                        {{{ end }}}
                    },
                    columns: [
                        {{{range .resource.Fields}}}
                        {
                            field: '{{{.JsonName}}}',
                            title: '{{{.Name}}}',
                            {{{if .EnumValues}}}
                            data: {
                                {{{range .EnumValues}}}
                                {{{index . 0}}}: {{{index . 1}}},
                                {{{end}}}
                            },
                            formatter: function(value, row) {
                                return this.data[value];
                            },
                            {{{end}}}
                            a: 1 // 占位符
                        },
                        {{{end}}}
                        {
                            title: 'Operation',
                            formatter: function() {
                                return [
                                    '<a class="like" href="javascript:void(0)" title="Edit">',
                                    '<i class="fa fa-edit">Edit</i>',
                                    '</a>  ',
                                    '<a class="remove" href="javascript:void(0)" title="Delete">',
                                    '<i class="fa fa-trash">Delete</i>',
                                    '</a>'
                                ].join('')
                            },
                            events: {
                                'click .like': function (e, value, row, index) {
                                    {{{range .resource.Fields}}}

                                    {{{if eq .Type "bool"}}}
                                    const v{{{toJS .JsonName}}} = row.{{{toJS .JsonName}}}?'1':'0';
                                    $('#edit-{{{.Name}}} option:eq(' +v{{{toJS .JsonName}}}+')').prop('selected', true);
                                    {{{else}}}
                                    $( "#edit-{{{.Name}}}" ).val(row.{{{toJS .JsonName}}});
                                    {{{end}}}

                                    {{{end}}}
                                    $( "#dialog-edit-form" ).dialog( "open" );
                                },
                                'click .remove': function (e, value, row, index) {
                                    $.ajax({
                                        url: '{{{ .apiPrefix }}}/{{{ .resource.Name }}}/'+row.ID,
                                        type: 'DELETE',
                                        {{{ if .resource.AuthMiddle }}}
                                        headers: {"{{{ .resource.AuthMiddle.HeaderKey }}}": '{{{.resource.AuthMiddle.HeaderValuePrefix}}}' + localStorage.getItem("access_token")},
                                        {{{ end }}}
                                        success: function(result) {
                                            if(result.code==500) {
                                                $.notify(result.message, "error");
                                                return;
                                            }
                                            refreshData();
                                            $.notify("delete ok", "success");
                                        },
                                        error: function(result){
                                            $.notify(result, "error");
                                        }
                                    });
                                }
                            }
                        }
                    ]
                })
            }

            $(document).ready(initTable);
        </script>
{{{template "footer" .}}}