<html>
    <head>
        <title>{{{ .resource.Name }}} list</title>
        <style>
            label, input { display:block; }
            input.text { margin-bottom:12px; width:95%; padding: .4em; }
            fieldset { padding:0; border:0; margin-top:25px; }
            h1 { font-size: 1.2em; margin: .6em 0; }
            div#users-contain { width: 350px; margin: 20px 0; }
            div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
            div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
            .ui-dialog .ui-state-error { padding: .3em; }
            .validateTips { border: 1px solid transparent; padding: 0.3em; }
        </style>

        <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.2.1/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://unpkg.com/jquery-ui@1.13.2/dist/themes/base/jquery-ui.min.css">
        <link rel="stylesheet" href="https://unpkg.com/font-awesome@4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.21.0/dist/bootstrap-table.min.css">

        <script src="https://unpkg.com/jquery"></script>
        <script src="https://unpkg.com/jquery-ui@1.13.2/dist/jquery-ui.min.js"></script>
        <script src="https://unpkg.com/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://unpkg.com/bootstrap-table"></script>
        <script src="/static/notify.min.js"></script>
        <script>
            $( function() {
                var dialog;

                dialog = $( "#dialog-form" ).dialog({
                    autoOpen: false,
                    modal: true,
                    // buttons: {
                    //     // "Create {{{ .resource.Name }}}": addUser,
                    //     Cancel: function() {
                    //         dialog.dialog( "close" );
                    //     }
                    // },
                    close: function() {
                        // form[ 0 ].reset();
                        // allFields.removeClass( "ui-state-error" );
                    }
                });

                // form = dialog.find( "form" ).on( "submit", function( event ) {
                //     event.preventDefault();
                //     addUser();
                // });

                $( "#create-user" ).button().on( "click", function() {
                    dialog.dialog( "open" );
                });

                dialog1 = $( "#dialog-edit-form" ).dialog({
                    autoOpen: false,
                    modal: true,
                });
            } );
        </script>
    </head>
    <body>
        <h1>
            {{{ .resource.Name }}} list
        </h1>

        <div id="resourceDiv" class="demo">
            <button id="create-user">Create</button>

            <table id="table"></table>

            <div id="dialog-form" title="Create new {{{ .resource.Name }}}">
                <p class="validateTips">All form fields are required.</p>
                <fieldset>
                    {{{range .resource.Fields}}}
                    {{{if not .CloseEdit }}}
                    <label for="{{{.Name}}}">{{{.Name}}}</label>
                    <input type="text" name="{{{.Name}}}" id="{{{.Name}}}" value="" class="text ui-widget-content ui-corner-all">
                    {{{end}}}
                    {{{end}}}

                    <button onclick="createRes()">Create</button>
                </fieldset>
            </div>

            <div id="dialog-edit-form" title="Edit {{{ .resource.Name }}}">
                <fieldset>
                    {{{range .resource.Fields}}}
                    <label for="{{{.Name}}}">{{{.Name}}}</label>
                    {{{if not .CloseEdit }}}
                    <input type="text" name="{{{.Name}}}" id="edit-{{{.Name}}}" value="" class="text ui-widget-content ui-corner-all">
                    {{{else}}}
                    <input type="text" name="{{{.Name}}}" id="edit-{{{.Name}}}" value="" class="text ui-widget-content ui-corner-all" disabled>
                    {{{end}}}
                    {{{end}}}

                    <button onclick="editRes()">Edit</button>
                </fieldset>
            </div>
        </div>

        <script>
            function convertFormToJSON(form) {
                const array = $(form).serializeArray(); // Encodes the set of form elements as an array of names and values.
                const json = {};
                $.each(array, function () {
                    json[this.name] = this.value || "";
                });
                return JSON.stringify(json);
            }

            function refreshData() {
                $('#table').bootstrapTable('refresh');
            }

            function createRes(){
                $.ajax({
                    url: '{{{ .apiPrefix }}}/{{{ .resource.Name }}}',
                    type: 'POST',
                    contentType: "application/json",
                    data: this.convertFormToJSON("#dialog-form fieldset"),
                    success: function(result) {
                        refreshData();
                        $( "#dialog-form" ).dialog("close");
                    },
                    error: function(result){
                        $.notify(result, "error");
                    }
                });
            }

            function editRes(){
                $.ajax({
                    url: '{{{ .apiPrefix }}}/{{{ .resource.Name }}}/'+$("#edit-ID").val(),
                    type: 'POST',
                    contentType: "application/json",
                    data: this.convertFormToJSON("#dialog-edit-form fieldset"),
                    success: function(result) {
                        $.notify(result, "success");
                        refreshData();
                        $( "#dialog-edit-form" ).dialog( "close" );
                    },
                    error: function(result){
                        $.notify(result, "error");
                    }
                });
            }
            function initTable() {
                $('#table').bootstrapTable({
                    url: '{{{ .apiPrefix }}}/{{{ .resource.Name }}}',
                    pagination: true,
                    search: true,
                    sidePagination: "server",
                    dataField: 'data',
                    totalField: 'total',
                    responseHandler: function(res) {
                        return {
                            data: res["data"]["list"],
                            total: res["data"]["count"]
                        }
                    },
                    {{{ if .resource.AuthMiddle }}}
                    ajaxOptions: { headers: { '{{{ .resource.AuthMiddle.HeaderKey }}}': '{{{.resource.AuthMiddle.HeaderValuePrefix}}}' + localStorage.getItem("access_token") }},
                    {{{ end }}}
                    onLoadError: function(status, err) {
                        $.notify(status, 'error');
                        {{{ if .resource.AuthMiddle }}}
                        if (status == 403) {
                            window.location.href = {{{ .resource.AuthMiddle.URL }}}
                            // localStorage.setItem("access_token", "123");
                        }
                        {{{ end }}}
                    },
                    columns: [
                        {{{range .resource.Fields}}}
                        {
                            field: '{{{.JsonName}}}',
                            title: '{{{.Name}}}'
                        },
                        {{{end}}}
                        {
                            title: 'Operation',
                            formatter: function() {
                                return [
                                    '<a class="like" href="javascript:void(0)" title="Edit">',
                                    '<i class="fa fa-edit">Edit</i>',
                                    '</a>  ',
                                    '<a class="remove" href="javascript:void(0)" title="Delete">',
                                    '<i class="fa fa-trash">Delete</i>',
                                    '</a>'
                                ].join('')
                            },
                            events: {
                                'click .like': function (e, value, row, index) {
                                    {{{range .resource.Fields}}}
                                    $( "#edit-{{{.Name}}}" ).val(row.{{{toJS .JsonName}}});
                                    {{{end}}}
                                    $( "#dialog-edit-form" ).dialog( "open" );
                                },
                                'click .remove': function (e, value, row, index) {
                                    $.ajax({
                                        url: '{{{ .apiPrefix }}}/{{{ .resource.Name }}}/'+row.ID,
                                        type: 'DELETE',
                                        success: function(result) {
                                            $.notify(result, "success");
                                            refreshData();
                                        },
                                        error: function(result){
                                            $.notify(result, "error");
                                        }
                                    });
                                }
                            }
                        }
                    ]
                })
            }

            $(document).ready(initTable);
        </script>
    </body>
</html>